@import './variables';
@import '~noty/src/noty.scss';
@import '~noty/src/themes/mint.scss'; 
.body{
  font-family: 'lato',sans-serif;
  -webkit-foont-smoothing:'antialiased';
  color:$dark;
  
  
}
nav li:last-child a{
  background: $pimary;
  &:hover{
    background-color: $pimary-hover;
  }
}
nav li a {
  transition: $smooth;
  &:hover{
    color: $pimary;
  }
  }
section.hero{
  background: $secondry;
}
.size{
  background: $secondry;
}
.add-to-cart{
  border: 2px solid $pimary;
  color: $pimary;
 transition: $smooth;
  &:hover{
    background-color: $pimary;
    border-color: $Pure;
    color: $Pure;
    

  }
  &:focus(
    outline: none;
  )
}
.btn-primary{
  background: $pimary;
  transition: $smooth;
  &:hover{
    background: $pimary-hover;
   

  }
}
section.cart{
  background: $secondry;
  .amount{
    color: $pimary;
  }
}
section.login{
 
    background: $secondry;
    min-height: calc(100vh - 86px);
    a{
      color: $pimary;
      &:hover{
        color: $pimary-hover;
       
    
      }

    }
  }
  .noty_themes_mint{
    border-radius: 50px!important;
    padding-left: 8px!important;
  }

  